.container {
    padding: 1rem;
}

.users { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userWrapper {
    max-width: 600px;
    width: 100%;
}

.prizePool {
    text-align: center;
}

.infoWrapper {
    display: grid;
    grid-template-columns: 65% 20% 15%;
    justify-content: center;
    text-align: center;
    margin-bottom: .5rem;
}

