.container {
    background-color: var(--formBg);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 42rem;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    justify-content: center;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}

.timeRemaining {
    text-align: center;
    margin: 0;
}

.teams {
    display: grid;
    grid-template-columns: 42.5% 15% 42.5%;
}

.team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;

    &:nth-child(3) {
        justify-content: flex-start;
    }
}

.resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    position: relative;
}

.overtime {
    position: absolute;
    top: -15px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .1rem;
}

.flag {
    max-width: 40px;
    width: 100%;
}

.prediction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.participators {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-weight: 700;

    &:hover {
        opacity: 1;
        text-decoration: none;
    }

    &:focus {
        border: none;
    }
}

.participatorImg {
    max-width: 25px;
    width: 100%;
}

.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.deleteImg {
    max-width: 25px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .teams {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team {
        display: flex;
        flex-direction: column-reverse;
    }

    .inputTop {
        display: flex;
        flex-direction: column;
    }
}