.container {
    display: grid;
    grid-template-columns: 8fr 3fr;
    gap: 1rem;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.teamWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #7994921c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: min-content;

    &:nth-child(1) {
        max-width: 450px !important;
        width: 100%;
    }

    &:nth-child(2) {
        max-width: 450px !important;
        width: 100%;
    }

    &:nth-child(3) {
        max-width: 350px !important;
        width: 100%;
    }
}

.overallWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 350px;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #7994921c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.rankingData {
    padding-left: 1rem;
}

.teamData {
    display: grid;
    grid-template-columns: 1fr repeat(6, 10%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

h4 {
    margin: .5rem 0;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem .1rem .3rem .3rem;
    max-width: 40px;
}

.flag {
    display: flex;
    justify-content: center;
    max-width: 30px;
    align-items: center;
    margin: .3rem .1rem .3rem .3rem;
}

.flagSmall,
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;
}

.notVisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.overallRow {
    height: 40px;
}

.groupRow td:not(:nth-child(2)) {
    width: 40px;
}

.groupRow td:nth-child(2) {
    text-align: left;
}

.overallRow :nth-child(3) {
    text-align: left;
}

.overallRow td:not(:nth-child(3)) {
    text-align: center;
    width: 40px;
}

.userRow td:nth-child(2) {
    text-align: left;
}

@media only screen and (max-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overallWrapper {
        justify-content: center;
        align-items: center;
    }
}