.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
}

.teamWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.teamData {
    display: grid;
    grid-template-columns: 1fr repeat(6, 10%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yearWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.yearBtn {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 12px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--primary);
        text-decoration: none;
        transform: scale(1.05);
    }
}