.seasonOverview {
    display: grid;
    padding: 1rem;
    grid-template-columns: 30% 60%;
    justify-content: space-between;
    column-gap: 5rem;
    margin-top: 1rem;
    position: relative;
}

.inProgress {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.seasonForm {
    max-width: 350px;
    width: 100%;
    min-height: 250px;
    background-color: #0338341f;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px;
}

.seasonForm * {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.seasonForm h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.seasonForm label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.seasonForm input {
    display: block;
    height: 50px;
    max-width: 150px;
    width: 100%;
    background-color: #03383443;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin: 8px auto;
}

.seasonForm select {
    text-align: center;
}

.teamWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--rowBg);
    border-radius: .5rem;
}

h3 {
    text-align: center;
    margin: 1rem 0 .5rem
}

.notSelected,
.selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.selected .flag {
    opacity: 1;
    width: 44px;
}

.selectedA,
.selectedB {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    top: -15%;
    left: 50%;
    color: green;
    margin-left: -6px;
}

.selectedB {
    color: red;
}

.err {
    color: var(--error)
}

.notSelected .flag {
    max-width: 40px;
    opacity: .5;
    transition: all 0.2s ease-in-out;
}

.notSelected:hover .flag {
    transform: scale(1.1);
    opacity: 1;
}

::placeholder {
    color: var(--secondary);
}

.selectedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedWrapper {
    display: flex;
    column-gap: .5rem;
    padding: .5rem;
}

.smallFlag {
    max-width: 25px;
    width: 100%;
}

.addBtn,
.finishBtn {
    margin: 10px 0 0 0;
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        opacity: 0.8;
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.finishBtn {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 2rem;
}

h5 {
    text-align: center;
}