/* google font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* layout */
:root {
  --error: #e7195a;
  --primary: #eefaf9;
  --secondary: #033834;
  --formBg: #0338341f;
  --rowBg: #cbe3e1;
}

* {
  font-family: 'Titillium Web', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--secondary);
  box-sizing: border-box;
}

button {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h4 {
  text-align: center;
}

body {
  background-color: var(--primary);
  width: 100%;
  min-height: calc(100vh - 50px);
  position: relative;
}

.hidden {
  opacity: 0;
}

.bolder {
  font-weight: 700;
}

input {
  min-width: 40px;
}

.pages {
  margin: 50px auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--primary);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100px;
}

button:hover {
  text-decoration: none;
}