/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --error: #e7195a;
  --primary: #eefaf9;
  --secondary: #033834;
  --formBg: #0338341f;
  --rowBg: #cbe3e1;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--secondary);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--primary);
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}