header {
  background-color: black;
  position: relative;
}

.languages {
  position: absolute;
  right: 1%;
  bottom: -65%;
}

.container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info {
  display: flex;
}

.actions {
  display: flex;
  color: var(--primary);
  align-items: center;
  position: relative;
}

a,
button {
  margin-left: 10px;
}

span {
  font-size: 14px;
}

.adminBtn,
.logoutBtn {
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }
}

.modalBtn {
  font-size: 14px;
  color: white;
  margin-right: 1rem;
}

.adminBtn {
  background-color: rgb(240, 203, 203);
  color: red;
  border: 1px solid #d83838;
}

.languageBtn {
  font-size: 14px;
  color: white;
}