.container {
    position: absolute;
    top: 0;
    left: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: .8rem .4rem;
    background-color: #cbe3e1;
    border-radius: 1rem;
    max-width: 275px;
    width: 100%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.userAvatar {
    max-width: 60px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title {
    text-align: center;
    font-weight: 700;
}

.points {
    text-align: center;
}

.gameWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.won {
    background-color: #03C03C;
    padding: .1rem .2rem;
    border-radius: 5px;
    border: 2px solid #024d19;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}